<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Groups</h3>
            </div>
            <div class="box-body">
                TODO: group list table
            </div>
        </div>

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Users</h3>
            </div>
            <div class="box-body">
                <div ng-if="userList.length>0">
                    <table class="table table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in userList">
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <button class="btn btn-default" type="button" ng-click="detailUser(user.id)">Detail</button>
                                <button class="btn btn-danger" type="button" ng-click="deleteUser(user.id)">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="userList == null || userList.length == 0">
                    <h5>No records found, add first <button type="button" class="btn btn-primary" ng-click="openAddModal()">
                        Add User
                    </button> </h5>
                </div>
            </div>
        </div>


    </div>
</div>
